{% extends "base.html.jinja" %}
{% block content %}
    <h2>Strona główna</h2>
{% endblock content %}
{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia samochodu</title>
</head>
<body>
    <header>
        <h1>Wypożyczalnia samochodu</h1>
    </header>
    <section>
        <p>Hello World !</p>
    </section>
    <footer>
        <p>(c) Jędrzej Pawłowski, Akademia Nauk Stosowanych w Nowym Targu</p>
    </footer>
</body>
</html> #}